<br/>
<div class="row">
    <div class="col-md-2" id="sideScreenL">
    </div>
    <div class="col-md-8"  >
            <div class="row jumbotron" id="mainScreen" data-token="{{ token }}" data-user="{{ user }}">
                Waiting for other players..
            </div>
    </div>
    <div class="col-md-2" >
        <div class="row" id="colouredUserName"><center><span class="glyphicon glyphicon-user"></span> {{ user }}</center></div>
        <div class="row" id="sideScreenR">
        </div>
        <div class="row" >
            <center><button class="btn btn-success disabled" id="gamePassButton">Pass</button></center>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/site/{{ js }}"></script>
