<br/>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <span class="glyphicon glyphicon-user"></span> {{ user }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4 col-md-offset-4"  data-token="{{ token }}">
            <div class="row jumbotron" id="gameDisplay">
                Waiting for other players..
            </div>
            <br/>
            <div class="row" id="gameScoreDisplay">
                Words found : 0
            </div>
            <br/>
            <div class="row" id="gamePassButton">
                <center><button class="btn btn-success disabled">Pass</button></center>
            </div>
    </div>
    <div class="col-md-2 col-md-offset-1" id="completedWordDisplay">
    </div>
</div>

<script type="text/javascript" src="/js/site/{{ js }}"></script>
